# Git
.git
.gitignore

# Documentation
README.md
# Allow org_submission.md
!org_submission.md

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.venv
.env

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# CI/CD
.github

# Docker
Dockerfile*
docker-compose*